PORT=your_port

NODE_ENV=production

MONGO_URI=your_mongodb_url


JWT_ACCESS_SECRET=your_access_secret

JWT_REFRESH_SECRET=your_refresh_secret
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d

EMAIL_USER=your_emailapp

EMAIL_PASS=your_app_password

CLIENT_URL=https://localhost:5173

OTP_EXPIRY_MINUTES=5
OTP_LENGTH=6

BCRYPT_SALT_ROUNDS=10
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587